@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* If editing css please use these variables */
:root {
    --main-font: 'Open Sans', sans-serif;

}

/* Using these for now, going to change them to Images/Icons */
#logo, #linkToSignIn, #linkToAccount {
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 600;
    color: #FFCBA4;
    
}

.content-top {
    display: flex;
    flex-direction: column
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

.nav-content-left {
    flex-basis: 60%;
}

.nav-content-right {
   flex-basis: 40%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#logo {
    margin-left: 10px;
}

#linkToSignIn {
    margin-right: 10px;  
}

#linkToSignIn:hover {
    color: #ff8528;
}

#linkToAccount {
    margin-right: 10px;
    display: flex;
    align-items: center;
}



.account-icon {
    font-size: 2em;
    color: #FFCBA4;
}

.account-icon:hover {
    color: #ff8528;
}

.header-container {
    height: 100px;
    background-color: blue;
}

.homepage-hero {
    background-color: red;
    height: 500px;
}

.hero-image {
    width: 100%;
    height: auto;
}

/* Setting up device breakpoints */

/* Mobile */
@media only screen  and (max-width: 600px){
    
}

@media only screen  and (min-width: 600px){
    
}

/* Large Mobile Devices */
@media only screen  and (min-width: 768px){
    
}

/* Laptops and Desktop */
@media only screen and (min-width: 992px) {
    
}
