@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

/* If editing css please use these variables */
:root {
    --main-font: 'Open Sans', sans-serif;
    --selector-color: #ff8528;
    

}

.App {
    position: relative;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0.5px rgba(191, 191, 191, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #d1d1d1;
}

/* Using these for now, going to change them to Images/Icons */
#logo,
#linkToSignIn,
#linkToAccount,
.nav-link {
    text-decoration: none;
    font-family: var(--main-font);
    color: black;
}

header {
    padding: 10px 0px 10px 0px;; 
}

.content-top {
    display: flex;
    flex-direction: column
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    background-color: white;
    border-bottom: 1px solid gray;
}

.nav-content-left {
    flex-basis: 60%;
}

.nav-content-right {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo {
    margin-left: 10px;
}

#linkToSignIn {
    margin-right: 10px;
}

#linkToSignIn:hover {
    color: #ff8528;
}

#linkToAccount {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.account-icon {
    font-size: 1.5em;
    color: black;
}

.account-icon:hover {
    color: #ff8528;

}

.homepage-container {
    min-height: 100vh;
}

.header-container {
    height: 45px;
    background-color: white;
    position: relative;
}

#mobile-nav {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 0vh;
    background-color: white;
    display: none;
    overflow: hidden;
    z-index: 1;
    transition: 0.2s;
}

.mobile-header-content {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mobile-nav-open {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
    flex-basis: 10%;
}

.nav-button {
    font-size: 1.5em;
    cursor: pointer;
}

.mobile-header-content-middle {
    display: flex;
    align-items: center;
}

.text-logo {
    position: relative;
    left: 20px;
}

.text-logo>p {
    font-size: 1.6em;
    font-style: italic;
    font-family: var(--main-font);
    font-weight: 600;
    margin: 0;
    color: rgb(23, 23, 23)
}

.mobile-header-content-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 20%;
}

.search-bar-icon-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.cart-btn {
    font-size: 1.5em;
    cursor: pointer;
}

.mobile-nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
}

.mobile-nav-links>li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 212, 213);
    padding-inline-start: 10px;
}

.homepage-hero {
    height: auto;
    position: relative;
}

.homepage-hero-images {
    display: flex;
}

.hero-image1 {
    width: 50%;
}

.hero-image2 {
    width: 50%;
    height: auto;
}


.homepage-hero-info {
    position: absolute;
    bottom: 30px;
    left: 5px;
}

.shop-now-button-text {
    text-decoration: none;
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 1em;
    background-color: white;
    padding: 10px 30px;
    border-radius: 2px;
    color: black;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.find-your-style-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.find-your-style-container>h2 {
    display: block;
    font-weight: 600;
    width: auto;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 212, 213);
    border-bottom-width: 2px;
    text-align: center;
    padding-bottom: 5px;
}

.find-your-style-boxes {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.find-your-style-boxes>div {
    background-color: white;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 0 10px 0px 10px;
    box-shadow: 5px 8px 0px 0px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    position: relative;
    overflow-y: hidden;
    border-radius: 3px;
}

.style-box-text {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 1em;
    background-color: white;
    padding: 10px 30px;
    width: 120px;
    text-align: center;
    opacity: 90%;
    border-radius: 2px;
    color: black;
    box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.1);
} 

.style-box-text > a {
    text-decoration: none;
    color: black;
}


.find-your-style-boxes>div>img {
    height: 100%;
    width: 100%;
}


.community-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-image {
    height: 100%;
}

.community-image > img{
    width: 100%;
    height: auto;
}

.join-community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-community-container > h2{
    text-align: center;
    margin: 10px 0 0px 0;
}

.join-community-container > p {
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.join-community-container > a {
    text-decoration: none;
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 1em;
    background-color: rgb(25, 25, 25);
    padding: 10px 30px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
}

.product-advertisment-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.product-advertisment-container > h2 {
    margin: 0 0 10px 0;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 212, 213);
}

.favourite-product-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.product {
    min-width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.1);
}

.style-genre-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.style-genre-container > h2 {
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 212, 213);
}

.contrast-genres {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.contrast-genres > div > img {
    width: 100%;
    height: auto;
}

.contact-us-container {
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us {
    display: flex;
    flex-direction: column;

}

.contact-us > h2 {
    text-align: center;
    margin: 0 0 0px 0;
}

.contact-us > p {
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input {
    width: 90%;
    height: 50px;
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    margin: 10px auto 10px auto;
    padding: 0 10px 0 10px;
}

.form-submit-btn {
    width: 90%;
    height: 50px;
    border: none;
    background-color: rgb(25, 25, 25);
    border-radius: 2px;
    margin: 10px auto 10px auto;
    padding: 0 10px 0 10px;
    color: white;
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 1em;
}

.form-input:focus {
    outline: 1px solid black;
}

#name, #email, #message {
    font-size: 1em;
    font-weight: 300;
    font-family: var(--main-font);
}

#message {
    height: 200px;
}

.constant-footer {
    background-color: black;
    color: white;
    /* make this footer stuck at bottom */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.footer-content {
    /* temporary */
    min-height: calc(100vh - 200px);
}


#search-page {
    background-color: white;
    position: absolute;
    height: 0vh;
    width: 100vw;
    overflow: hidden;
    bottom: 0;
    transition: 0.2s;
}


/* Setting up device breakpoints */

/* Mobile */
@media only screen and (max-width: 600px) {
    .hero-image1 {
        width: 100%;
    }

    .hero-image2 {
        display: none;
    }

    .bottom-nav {
        display: none;
    }

    .mobile-header-content,
    #mobile-nav {
        display: flex;
    }

    .contrast-genres > div {
        min-width: 300px;
    }

    .contrast-genres > div > img {
        width: 100%;
        height: 100%;

    }

}

/* Large Mobile Devices+> */
@media only screen and (min-width: 600px) {
    .bottom-nav {
        display: flex;
        justify-content: space-around;
    }

    .bottom-nav-content-left {
        display: flex;
        justify-content: space-around;
        flex-basis: 30%;
    }
    
    .bottom-nav-content-left > .nav-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .bottom-nav-content-left > .nav-links > a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        margin: 0 10px 0 10px;
    }

    .bottom-nav-content-left > .nav-links > a:hover {
        color: var(--selector-color);
    }

    .bottom-nav-content-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
    }

    .bottom-nav-content-middle > div {
        font-size: 1.3em;
    }

    .bottom-nav-content-right {
        display: flex;
        justify-content: space-around;
        flex-basis: 30%;
        align-items: center;
    }

    .bottom-nav-content-right > div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #linkToContact {
        text-decoration: none;
        color: black;
        display: flex;
    }

    #linkToContact:hover {
        color: var(--selector-color);
    }

    .bottom-nav-content-right > div > div {
        display: flex;
        align-items: center;
        font-size: 1.8em;
        margin: 0 25px 0 25px;
    }

    .bottom-nav-content-right > div > div > *:hover {
        color: var(--selector-color);
    }

    #cart {
        display: flex;
    }

    #dCart:hover > path{
        stroke: var(--selector-color);
    }

    .find-your-style-boxes {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 960px) {
    .find-your-style-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .find-your-style-boxes > div {
        max-width: 400px;
    }
}
